<div class="panel panel-default">
    <div class="panel-heading">
        <div>프로젝트</div>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="list-group" style="margin-bottom: 0px;">

            <a ng-click="getMyProject()" href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">내 프로젝트</a>
            <a ng-click="getCandidateProject()" href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">지원자 채택</a>
            <a ng-click="getProgressProject()" href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">진행 중 프로젝트</a>
            <a ng-click="getAppraisalProject()" href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">프로젝트 평가</a>
            <a ng-click="getCompleteProject()" href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">프로젝트 완료</a>
            <a href="javascript:void(0)" ng-click="getMyProject()" class="list-group-item" style="border-radius: 0;">내 프로젝트</a>
            <a href="javascript:void(0)" class="list-group-item" style="border-radius: 0;">지원자 채택</a>
            <a href="javascript:void(0)" ng-click="getProgressProject()" class="list-group-item" style="border-radius: 0;">진행 중 프로젝트</a>
            <a href="javascript:void(0)" ng-click="getAppraisalProject()" class="list-group-item" style="border-radius: 0;">프로젝트 평가</a>
            <a href="javascript:void(0)" ng-click="getCompleteProject()" class="list-group-item" style="border-radius: 0;">프로젝트 완료</a>
        </div>
    </div>
</div>