<!--메인 jumbotron-->
<div id="projectRegiContainer" style="width: 1000px; margin: 0px auto;">
    <div class="jumbotron jumbo" style="padding-left: 80px;">
        <h4>파트너 평가</h4>
        <p style="font-size: 14px;"><small>프로젝트 - 대학생을 위한 아웃소싱 클라우드 펀딩 시스템</small></p>
    </div>
    <div style="width: 30%; float: left;">
        <project-menue></project-menue>
        <appraisal-partner-list></appraisal-partner-list>
    </div>
    <div style="width: 70%; float: left; padding-left: 10px;">
        <div class="project-show-block" style="padding: 30px;">
            <form class="form-inline">
                <div class="form-group" style="width: 49%;">
                    <img class="form-group" src="../../public/img/profile-default.png" style="width: 45px; height: 45px;">
                    <div class="form-group" style="color: darkslategray;">
                        <div><strong>{{partner.partner_id}}</strong></div>
                    </div>
                    <div style="padding: 20px;">
                        {{partner.ind}}
                    </div>
                    <hr>
                    <div style="padding-left: 30px; padding-right: 30px; margin-bottom: 20px;">
                        <table>
                            <tr>
                                <td>
                                    <input id="input-4" value="4.5" class="rating rating-loading" data-size="xs">
                                </td>
                                <td>
                                    <label class="control-label" style="padding-top: 8px;">평점 : 4.5</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="width: 50%;">
                    <h3>
                        <srtong>세부 항목 점수</srtong>
                    </h3>
                    <div>
                        <span style="margin-right: 15px;">전문성 점수</span>
                        <div style="width: 115px; display: inline-block;">
                            <input id="profession" class="rating rating-loading" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </div>
                        <div class="form-group" style="width: 70px; display: inline-block;">
                            <input style="width: 70px;" minlength="0" maxlength="5" ng-model="proNumber" type="number">
                        </div>

                    </div>
                    <div>
                        <span style="margin-right: 15px;">만족도 점수</span>
                        <div style="width: 115px; display: inline-block;">
                            <input id="satisfaction" value="4.5" class="rating rating-loading" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </div>
                        <div class="form-group" style="width: 70px; display: inline-block;">
                            <input style="width: 70px;" minlength="0" maxlength="5" ng-model="satNumber" type="number">
                        </div>

                    </div>
                    <div>
                        <span>의사소통 점수</span>
                        <div style="width: 115px; display: inline-block;">
                            <input id="comunication" value="4.5" class="rating rating-loading" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </div>
                        <div class="form-group" style="width: 70px; display: inline-block;">
                            <input style="width: 70px;" minlength="0" maxlength="5" ng-model="comNumber" type="number">
                        </div>
                    </div>
                    <div>
                        <span>일정준수 점수</span>
                        <div style="width: 115px; display: inline-block;">
                            <input id="schedule" value="4.5" class="rating rating-loading" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </div>
                        <div class="form-group" style="width: 70px; display: inline-block;">
                            <input style="width: 70px;" minlength="0" maxlength="5" ng-model="schNumber" type="number">
                        </div>
                    </div>
                    <div>
                        <span style="margin-right: 15px;">적극성 점수</span>
                        <div style="width: 115px; display: inline-block;">
                            <input id="initiative" value="4.5" class="rating rating-loading" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </div>
                        <div class="form-group" style="width: 70px; display: inline-block;">
                            <input style="width: 70px;" minlength="0" maxlength="5" ng-model="iniNumber" type="number">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="Appraisal()">평가하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>