<!--메인 jumbotron-->
<div id="projectRegiContainer" style="width: 1000px; margin: 0px auto;">
    <div class="jumbotron jumbo" style="padding-left: 80px;">
        <h4>프로젝트 평가</h4>
    </div>
    <div style="width: 30%; float: left;">
        <project-menue></project-menue>
    </div>
    <div style="width: 70%; float: left; padding-left: 10px;">
        <div class="project-show-block">
            <h4><strong>대학생을 위한 아웃소싱 클라우드 펀딩 시스템</strong></h4>
            <p style="font-size: 14px; color: darkslategray;">
                <small>프로젝트_NFC소프트웨어 클라이언트 : 홍길동 모집인원: 5명</small>
                <button class="btn btn-success" style="float: right; margin-right: 20px;">평가완료</button>
                <span style="padding-left: 15px;"><small>등록일자: 2016.11.05</small></span>
            </p>
            <p>
                <small>개발 > 웹 어플리케이션</small>
            </p>
        </div>
        <div class="project-show-block">
            <h4><strong>대학생을 위한 아웃소싱 클라우드 펀딩 시스템</strong></h4>
            <p style="font-size: 14px; color: darkslategray;">
                <small>프로젝트_NFC소프트웨어 클라이언트 : 홍길동 모집인원: 5명</small>
                <button class="btn btn-warning" style="float:right; margin-right: 20px;">평가가능</button>
                <span style="padding-left: 15px;"><small>등록일자: 2016.11.05</small></span>
            </p>
            <p>
                <small>개발 > 웹 어플리케이션</small>
            </p>
        </div>
        <div class="project-show-block">
            <h4><strong>대학생을 위한 아웃소싱 클라우드 펀딩 시스템</strong></h4>
            <p style="font-size: 14px; color: darkslategray;">
                <small>프로젝트_NFC소프트웨어 클라이언트 : 홍길동 모집인원: 5명</small>
                <button class="btn btn-success" style="float: right; margin-right: 20px;">평가완료</button>
                <span style="padding-left: 15px;"><small>등록일자: 2016.11.05</small></span>
            </p>
            <p>
                <small>개발 > 웹 어플리케이션</small>
            </p>
        </div>
        <div class="project-show-block">
            <h4><strong>대학생을 위한 아웃소싱 클라우드 펀딩 시스템</strong></h4>
            <p style="font-size: 14px; color: darkslategray;">
                <small>프로젝트_NFC소프트웨어 클라이언트 : 홍길동 모집인원: 5명</small>
                <button class="btn btn-success" style="float: right; margin-right: 20px;">평가완료</button>
                <span style="padding-left: 15px;"><small>등록일자: 2016.11.05</small></span>
            </p>
            <p>
                <small>개발 > 웹 어플리케이션</small>
            </p>
        </div>
    </div>
    <div class="centered">
        <nav aria-label="...">
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
