<!--메인 jumbotron-->
<div id="projectRegiContainer" style="width: 1000px; margin: 0px auto; padding-top: 30px;">
    <div style="width: 30%; float: left;">
        <div class="panel panel-default">
            <div class="panel-heading">
                클라이언트
            </div>
            <div class="panel-body" style="padding: 20px;">
                <div style="height: 50px; margin-bottom: 20px;">
                    <div style="float:left; margin-right: 15px;">
                        <img src="../../public/img/profile-default.png" style="width: 45px; height: 45px;">
                    </div>
                    <div style="float: left; padding-top: 5px;">
                        <div style="color: darkslategray;"><strong>배성원</strong></div>
                        <div><small>동서대학교</small></div>
                    </div>
                </div>
                <div style="padding: 10px; margin-bottom: 50px;">
                    모두의 우려가 현실이 되는 모습이다. 7일 국회에서 열린 '최순실 국정농단' 청문회에서 정작 이번 게이트의 핵심이자 몸통인 최순실이 불출석하다 보니 마지막 퍼즐이 맞춰지지 않는 모양새다.
                </div>
                <hr/>
                <div style="padding: 10px;">
                    <div>등록한 프로젝트 : 2건</div>
                    <div>입찰된 프로젝트 : 2건</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 70%; float: left; padding-left: 10px;">
        <div class="project-show-block">
            <span style="color: mediumseagreen;" class="glyphicon glyphicon-circle-arrow-left"></span>
            <span>프로젝트 조회로 돌아가기</span>
            <button class="btn btn-warning btn-xs" style="float:right;">프로젝트 지원</button>
        </div>
        <div class="project-show-block">
            <h4><strong>대학생을 위한 아웃소싱 클라우드 펀딩 시스템</strong></h4>
            <hr>
            <div style="min-height: 300px;">
                김기춘·김종 "모른다"만 반복…대질 필요성

                (서울=뉴스1) 박상휘 기자,김정률 기자 = 모두의 우려가 현실이 되는 모습이다. 7일 국회에서 열린 '최순실 국정농단' 청문회에서 정작 이번 게이트의 핵심이자 몸통인 최순실이 불출석하다 보니 마지막 퍼즐이 맞춰지지 않는 모양새다.

                더욱이 이번 의혹 한가운데 서 있는 김기춘 전 청와대 비서실장 마저 모든 의혹에 대해서 "모른다", "기억하지 못한다"고만 대답하고 있어 의혹을 확인하는데 더더욱 어려움을 겪고 있다.

                당초 최씨는 이번 국정조사특위 청문회 증인으로 채택됐으나 재판과 수사가 진행 중에 있고 건강이 좋지 않다는 이유로 청문회 출석에 불응했다.

                이에 따라 국조특위는 이날 최씨에 대해 동행명령장까지 발부했으나 끝내 최씨는 출석하지 않았다. 최씨가 출석하지 않다 보니 이날 김 전 실장과의 대면이 이뤄지지 않았다.

                김 전 실장은 이번 의혹이 제기된 이후부터 최씨를 알지 못한다는 입장을 고수하고 있는데, 이 또한 최씨를 상대로 확인을 해야 하는 상황이다.

                문화계 황태자로 불린 차은택씨가 김 전 실장을 만난 사실 관계도 검증이 안되고 있다. 차씨는 김 전 실장을 최씨의 소개로 만났다고 밝혔지만 김 전 실장은 박근혜 대통령의 지시로 만났다고 주장했다.

                국정농단의 주요인물인 김종 전 문화체육관광부 차관이 최씨 일가를 비호한 것을 두고도 누구의 지시였는지가 명확히 밝혀지지 않고 있다.

                김 전 차관이 김 전 실장의 지시로 최씨 일가를 비호했다는 의혹이 유력하지만 이 역시 김 전 실장은 모르쇠로 일관하고 있는 상황이다.

                이 밖에도 확인해야할 의혹은 넘쳐난다. 민간인인 최씨가 어떻게 장차관 인사를 주무를 수 있었는지, 동계올림픽 사업을 통해 어떤 이득을 취하려고 했는지 등을 따져 물어야 하지만 답답한 상황은 계속 이어지고 있다.

                실제로 최씨가 불출석하고 김 전 실장과 김 전 차관이 묻는 질문마다 "모른다"라는 답변만 대답하다 보니 국조 위원들도 맥이 빠지는 모습이다.

                장제원 새누리당 의원은 "김 전 실장의 발언 태도에 대해서 심각하게 문제를 표한다"며 "김 전 차관은 검찰 조사에서 밝혀 이미 언론에 나간 얘기마저도 답변을 안하고 있다"고 비판했다.
            </div>
        </div>
        <div class="project-show-block">
            <h5><strong>프로젝트 문의하기</strong></h5>
            <hr/>
            <div>
                <div style="float:left; margin-right: 15px;">
                    <img src="../../public/img/profile-default.png" style="width: 45px; height: 45px;">
                </div>
                <div style="padding-top: 5px;">
                    <textarea cols="65" rows="3" style="display: inline-block"></textarea>
                    <button class="btn btn-success" style="display: inline-block">작성하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="centered">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
