<!--메인 jumbotron-->
<div id="projectRegiContainer" style="width: 1000px; margin: 0px auto; padding-top: 30px;">
    <div style="width: 30%; float: left;">
        <div class="panel panel-default">
            <div class="panel-heading">
                클라이언트
            </div>
            <div class="panel-body" style="padding: 20px;">
                <div style="height: 50px; margin-bottom: 20px;">
                    <div style="float:left; margin-right: 15px;">
                        <img src="../../public/img/profile-default.png" style="width: 45px; height: 45px;">
                    </div>
                    <div style="float: left; padding-top: 5px;">
                        <div style="color: darkslategray;"><strong>{{detail.client_id}}</strong></div>
                    </div>
                </div>
                <div style="padding: 10px; margin-bottom: 50px;">
                    {{detail.ind}}
                </div>
                <hr/>
                <div style="padding: 10px;">
                    <div>등록한 프로젝트 : {{count}}건</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 70%; float: left; padding-left: 10px;">
        <div class="project-show-block">
            <span style="color: mediumseagreen;" class="glyphicon glyphicon-circle-arrow-left"></span>
            <span>프로젝트 조회로 돌아가기</span>
            <button class="btn btn-warning btn-xs" style="float:right;">프로젝트 지원</button>
        </div>
        <div class="project-show-block">
            <h4><strong>{{detail.title}}</strong></h4>
            <hr>
            <div style="min-height: 300px;">
                {{detail.content}}
            </div>
        </div>
        <div class="project-show-block">
            <h5><strong>프로젝트 문의하기</strong></h5>
            <hr/>
            <div>
                <div style="float:left; margin-right: 15px;">
                    <img src="../../public/img/profile-default.png" style="width: 45px; height: 45px;">
                </div>
                <div style="padding-top: 5px;">
                    <textarea cols="65" rows="3" style="display: inline-block"></textarea>
                    <button class="btn btn-success" style="display: inline-block">작성하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="centered">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
