<!--메인 jumbotron-->
<div id="projectRegiContainer" style="width: 1000px; margin: 0px auto;">
    <div class="jumbotron jumbo" style="padding-left: 80px;">
        <h4>마이 페이지</h4>
    </div>
    <div style="width: 30%; float: left;">
        <my-project-menue></my-project-menue>
    </div>
    <div style="width: 70%; float: left; padding-left: 10px;">
        <div class="project-show-block" ng-repeat="project in projects">
            <h4 style="cursor:pointer;" ng-click="moveArraisal(project.project_co)"><strong>{{project.title}}</strong></h4>
            <p style="font-size: 14px; color: darkslategray;">
                <small>{{project.client_id}} 모집인원: {{project.count}}명</small>
                <span style="padding-left: 15px;"><small>등록일자: 2016.11.05</small></span>
            </p>
            <p>
                <small>{{project.big_category_co}} > {{project.small_category_co}}</small>
            </p>
        </div>
    </div>
</div>

