<!--메인 jumbotron-->
<div style="width: 1000px; margin: 0px auto;">
    <div class="jumbotron jumbo" style="text-align: center;">
        <h3 style="margin-bottom: 20px;"><strong>Outsourcing Cloud Funding System</strong></h3>
        <p><button class="btn btn-default" ng-click="moveProjectRegist()">프로젝트 등록하기</button></p>
    </div>
</div>
<p style="text-align: center"><strong>등록된 프로젝트</strong></p>
<!--중간 등록된 프로젝트-->
<div style="width: 1000px; margin: 0px auto">
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td class="rankingTd" ng-repeat="project in firstProjects">
                <div class="rankingProject">
                    <div>
                        <h4><span class="label label-default" style="margin-right: 10px;"><i>{{$index + 1}}</i></span>{{project.title}}</h4>
                    </div>
                    <p>
                        완료날짜 {{project.period.substring(0,9)}} | 개발비용: {{project.budget|currency}}원
                    </p>
                    <p>{{project.content}}</p>
                    <div>
                        <span class="label label-warning">{{project.big_category_co}}</span>
                        <span class="label label-warning">{{project.small_category_co}}</span>
                        <span class="label label-primary">{{project.skill_co}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="rankingTd" ng-repeat="project in secondProjects">
                <div class="rankingProject">
                    <div>
                        <h4><span class="label label-default" style="margin-right: 10px;"><i>{{$index + 4}}</i></span>{{project.title}}</h4>
                    </div>
                    <p>
                        완료날짜 {{project.period.substring(0,9)}} | 개발비용: {{project.budget|currency}}원
                    </p>
                    <p>{{project.content}}</p>
                    <div>
                        <span class="label label-warning">{{project.big_category_co}}</span>
                        <span class="label label-warning">{{project.small_category_co}}</span>
                        <span class="label label-primary">{{project.skill_co}}</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>